@model System.Collections.Generic.IEnumerable<iConnect.Server.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Chat Service";
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}

<div class="col-lg-3">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#allUsers" data-toggle="tab" aria-expanded="false">All Users</a></li>
        <li><a href="#groups" data-toggle="tab" aria-expanded="true">Groups</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="allUsers">
            <div class="list-group">
                @foreach (var item in Model)
{
    var status = @item.IsOnline == true ? "Online" : "";
    var statusCssClass = @item.IsOnline == true ? "label label-success" : "";

    <a href="#" class="list-group-item user-list-item" data-user="@item.UserName">
        <span class="glyphicon glyphicon-user"></span> @item.Alias
        <span class="@statusCssClass" data-user="@item.UserName" style="float:right">@Html.DisplayFor(modelItem => status)</span>
    </a>
}
            </div>
        </div>
        <div class="tab-pane fade in" id="groups">
            <p>User Groups</p>
        </div>
    </div>

    
</div>

<div class="col-lg-8" id="chat-area">
    
    <div class="row chat-box">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    @*<div data-user="" id="chat-with" class="col-lg-12">
                        <h4 class="text-success">Chat with <strong id="chat-user"></strong></h4>
                    </div>*@
                    <div class="row chat-area">
                        <div class="col-lg-12">
                            <ul id="ulChatMessages"></ul>
                        </div>
                    </div>
                    <div class="row chat-buttons">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" id="txtPrivateMessage" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" id="btnSubmit" type="submit" onclick="chatServer.sendPrivate($('#chat-user').attr('data-user'))">Submit</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="broadcast" tabindex="-1" role="dialog" aria-labelledby="broadcastTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="broadcastTitle">Broadcast Message</h4>
            </div>
            <div class="modal-body">
                <label for="txtMessage" class="control-label">Message</label>
                <input type="text" id="txtMessage" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit" onclick="chatServer.broadcast($('#txtMessage').val());">Submit</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/noty/themes/relax.js"></script>
@section scripts
{
@Scripts.Render("~/bundles/chatHub")

<script type="text/javascript">
    $(function () {
        loggedInUser = '@User.Identity.Name';
        
        chatServer.connectToServer(loggedInUser);
        $('#txtMessage').focus();

        $('#txtMessage').keyup(function (e) {
            if (e.which == 13) {
                chatServer.sendMessage();
            }
        });

        function closeBroadcastDialog() {
            
        }

        $(".user-list-item").click(function () {
            $("#chat-user").remove();
            $("#chat-area").prepend('<span class="label label-success" id="chat-user"></span>');
            var user = $(this).attr("data-user");
            $("#chat-user").attr("data-user", user);
            var alias = $(this).text();
            alias = alias.replace("Online", "");           
            $("#chat-user").html("Chatting with " + alias);           
        });

      

    });
</script>

}